/* .centered {
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* Widget Contents */
.title {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 7px;
    font-weight: 500;
    font-size: large;
    text-align: center;
    font-family: "Bahnschrift Light";
    background-color:rgba(0, 0, 0, 0.1);
}
.content {
    text-align: left;
    font-family: "Bahnschrift";
    font-size: medium;
    padding: 7px;
    padding-top: 0px;
}
.content img{
    max-width: 100%;
    max-height: 100%;
}
/* Grid CSS */
.layout {

    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat( 4, 25vw);
    grid-template-rows: repeat( 2, 50vh);
    grid-template-areas: "w1 w2 w3 w4"
                        "w5 w6 w7 w8";
}
/* Widget Specific */
.w1 {
    grid-area: w1;
    background-color: #c780e8;
}
.w2 {
    grid-area: w2;
    background-color: #9d94ff;
}
.w3 {
    grid-area: w3;
    background-color: #59adf6;
}
.w4 {
    grid-area: w4;
    background-color: #08cad1;
}
.w5 {
    grid-area: w5;
    background-color: #42d6a4;
}
.w6 {
    grid-area: w6;
    background-color: #f8f38d;
}
.w7 {
    grid-area: w7;
    background-color: #ffb480;
}
.w8 {
    grid-area: w8;
    background-color: #ff6961;
}
/* Checkbox CSS */
.switch:checked {
    accent-color: green;
}